## 1º Connection

In [68]:
from pymongo import MongoClient
import pandas as pd
import folium
from folium import Choropleth, Circle, Marker, Icon, Map
from folium.plugins import HeatMap, MarkerCluster
import pandas as pd
import geopandas as gpd
from functools import reduce
import operator

## 2º Choose collection to work with

In [52]:
conn.list_database_names()

['IRONHACK', 'admin', 'config', 'local']

In [53]:
db = conn.get_database("IRONHACK")

In [54]:
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'IRONHACK')

In [55]:
db.list_collection_names()

['companies', 'books', 'restaurants', 'countries-small']

In [56]:
collection = db.get_collection("companies")

####

#### Firstly, I find the first dictionary to get a general idea

In [57]:
collection.find_one()

{'_id': ObjectId('52cdef7c4bab8bd675297d8a'),
 'name': 'Wetpaint',
 'permalink': 'abc2',
 'crunchbase_url': 'http://www.crunchbase.com/company/wetpaint',
 'homepage_url': 'http://wetpaint-inc.com',
 'blog_url': 'http://digitalquarters.net/',
 'blog_feed_url': 'http://digitalquarters.net/feed/',
 'twitter_username': 'BachelrWetpaint',
 'category_code': 'web',
 'number_of_employees': 47,
 'founded_year': 2005,
 'founded_month': 10,
 'founded_day': 17,
 'deadpooled_year': 1,
 'tag_list': 'wiki, seattle, elowitz, media-industry, media-platform, social-distribution-system',
 'alias_list': '',
 'email_address': 'info@wetpaint.com',
 'phone_number': '206.859.6300',
 'description': 'Technology Platform Company',
 'created_at': datetime.datetime(2007, 5, 25, 6, 51, 27),
 'updated_at': 'Sun Dec 08 07:15:44 UTC 2013',
 'overview': '<p>Wetpaint is a technology platform company that uses its proprietary state-of-the-art technology and expertise in social media to build and monetize audiences for digital publishers. Wetpaint’s own online property, Wetpaint Entertainment, an entertainment news site that attracts more than 12 million unique visitors monthly and has over 2 million Facebook fans, is a proof point to the company’s success in building and engaging audiences. Media companies can license Wetpaint’s platform which includes a dynamic playbook tailored to their individual needs and comprehensive training. Founded by Internet pioneer Ben Elowitz, and with offices in New York and Seattle, Wetpaint is backed by Accel Partners, the investors behind Facebook.</p>',
 'image': {'available_sizes': [[[150, 75],
    'assets/images/resized/0000/3604/3604v14-max-150x150.jpg'],
   [[250, 125], 'assets/images/resized/0000/3604/3604v14-max-250x250.jpg'],
   [[450, 225], 'assets/images/resized/0000/3604/3604v14-max-450x450.jpg']]},
 'products': [{'name': 'Wikison Wetpaint', 'permalink': 'wetpaint-wiki'},
  {'name': 'Wetpaint Social Distribution System',
   'permalink': 'wetpaint-social-distribution-system'}],
 'relationships': [{'is_past': False,
   'title': 'Co-Founder and VP, Social and Audience Development',
   'person': {'first_name': 'Michael',
    'last_name': 'Howell',
    'permalink': 'michael-howell'}},
  {'is_past': False,
   'title': 'Co-Founder/CEO/Board of Directors',
   'person': {'first_name': 'Ben',
    'last_name': 'Elowitz',
    'permalink': 'ben-elowitz'}},
  {'is_past': False,
   'title': 'COO/Board of Directors',
   'person': {'first_name': 'Rob',
    'last_name': 'Grady',
    'permalink': 'rob-grady'}},
  {'is_past': False,
   'title': 'SVP, Strategy and Business Development',
   'person': {'first_name': 'Chris',
    'last_name': 'Kollas',
    'permalink': 'chris-kollas'}},
  {'is_past': False,
   'title': 'Board',
   'person': {'first_name': 'Theresia',
    'last_name': 'Ranzetta',
    'permalink': 'theresia-ranzetta'}},
  {'is_past': False,
   'title': 'Board Member',
   'person': {'first_name': 'Gus',
    'last_name': 'Tai',
    'permalink': 'gus-tai'}},
  {'is_past': False,
   'title': 'Board',
   'person': {'first_name': 'Len',
    'last_name': 'Jordan',
    'permalink': 'len-jordan'}},
  {'is_past': False,
   'title': 'Head of Technology and Product',
   'person': {'first_name': 'Alex',
    'last_name': 'Weinstein',
    'permalink': 'alex-weinstein'}},
  {'is_past': True,
   'title': 'CFO',
   'person': {'first_name': 'Bert',
    'last_name': 'Hogue',
    'permalink': 'bert-hogue'}},
  {'is_past': True,
   'title': 'CFO/ CRO',
   'person': {'first_name': 'Brian',
    'last_name': 'Watkins',
    'permalink': 'brian-watkins'}},
  {'is_past': True,
   'title': 'Senior Vice President, Marketing',
   'person': {'first_name': 'Rob',
    'last_name': 'Grady',
    'permalink': 'rob-grady'}},
  {'is_past': True,
   'title': 'VP, Technology and Product',
   'person': {'first_name': 'Werner',
    'last_name': 'Koepf',
    'permalink': 'werner-koepf'}},
  {'is_past': True,
   'title': 'VP Marketing',
   'person': {'first_name': 'Kevin',
    'last_name': 'Flaherty',
    'permalink': 'kevin-flaherty'}},
  {'is_past': True,
   'title': 'VP User Experience',
   'person': {'first_name': 'Alex',
    'last_name': 'Berg',
    'permalink': 'alex-berg'}},
  {'is_past': True,
   'title': 'VP Engineering',
   'person': {'first_name': 'Steve',
    'last_name': 'McQuade',
    'permalink': 'steve-mcquade'}},
  {'is_past': True,
   'title': 'Executive Editor',
   'person': {'first_name': 'Susan',
    'last_name': 'Mulcahy',
    'permalink': 'susan-mulcahy'}},
  {'is_past': True,
   'title': 'VP Business Development',
   'person': {'first_name': 'Chris',
    'last_name': 'Kollas',
    'permalink': 'chris-kollas'}}],
 'competitions': [{'competitor': {'name': 'Wikia', 'permalink': 'wikia'}},
  {'competitor': {'name': 'JotSpot', 'permalink': 'jotspot'}},
  {'competitor': {'name': 'Socialtext', 'permalink': 'socialtext'}},
  {'competitor': {'name': 'Ning by Glam Media', 'permalink': 'ning'}},
  {'competitor': {'name': 'Soceeo', 'permalink': 'soceeo'}},
  {'competitor': {'name': 'Yola', 'permalink': 'yola'}},
  {'competitor': {'name': 'SocialGO', 'permalink': 'socialgo'}},
  {'competitor': {'name': 'IslamNor', 'permalink': 'islamnor'}}],
 'providerships': [],
 'total_money_raised': '$39.8M',
 'funding_rounds': [{'id': 888,
   'round_code': 'a',
   'source_url': 'http://seattlepi.nwsource.com/business/246734_wiki02.html',
   'source_description': '',
   'raised_amount': 5250000,
   'raised_currency_code': 'USD',
   'funded_year': 2005,
   'funded_month': 10,
   'funded_day': 1,
   'investments': [{'company': None,
     'financial_org': {'name': 'Frazier Technology Ventures',
      'permalink': 'frazier-technology-ventures'},
     'person': None},
    {'company': None,
     'financial_org': {'name': 'Trinity Ventures',
      'permalink': 'trinity-ventures'},
     'person': None}]},
  {'id': 889,
   'round_code': 'b',
   'source_url': 'http://pulse2.com/2007/01/09/wiki-builder-website-wetpaint-welcomes-95m-funding/',
   'source_description': '',
   'raised_amount': 9500000,
   'raised_currency_code': 'USD',
   'funded_year': 2007,
   'funded_month': 1,
   'funded_day': 1,
   'investments': [{'company': None,
     'financial_org': {'name': 'Accel Partners',
      'permalink': 'accel-partners'},
     'person': None},
    {'company': None,
     'financial_org': {'name': 'Frazier Technology Ventures',
      'permalink': 'frazier-technology-ventures'},
     'person': None},
    {'company': None,
     'financial_org': {'name': 'Trinity Ventures',
      'permalink': 'trinity-ventures'},
     'person': None}]},
  {'id': 2312,
   'round_code': 'c',
   'source_url': 'http://www.accel.com/news/news_one_up.php?news_id=185',
   'source_description': 'Accel',
   'raised_amount': 25000000,
   'raised_currency_code': 'USD',
   'funded_year': 2008,
   'funded_month': 5,
   'funded_day': 19,
   'investments': [{'company': None,
     'financial_org': {'name': 'DAG Ventures', 'permalink': 'dag-ventures'},
     'person': None},
    {'company': None,
     'financial_org': {'name': 'Accel Partners',
      'permalink': 'accel-partners'},
     'person': None},
    {'company': None,
     'financial_org': {'name': 'Trinity Ventures',
      'permalink': 'trinity-ventures'},
     'person': None},
    {'company': None,
     'financial_org': {'name': 'Frazier Technology Ventures',
      'permalink': 'frazier-technology-ventures'},
     'person': None}]}],
 'investments': [],
 'acquisition': {'price_amount': 30000000,
  'price_currency_code': 'USD',
  'term_code': 'cash_and_stock',
  'source_url': 'http://allthingsd.com/20131216/viggle-tries-to-bulk-up-its-social-tv-business-by-buying-wetpaint/?mod=atdtweet',
  'source_description': ' Viggle Tries to Bulk Up Its Social TV Business by Buying Wetpaint',
  'acquired_year': 2013,
  'acquired_month': 12,
  'acquired_day': 16,
  'acquiring_company': {'name': 'Viggle', 'permalink': 'viggle'}},
 'acquisitions': [],
 'offices': [{'description': '',
   'address1': '710 - 2nd Avenue',
   'address2': 'Suite 1100',
   'zip_code': '98104',
   'city': 'Seattle',
   'state_code': 'WA',
   'country_code': 'USA',
   'latitude': 47.603122,
   'longitude': -122.333253},
  {'description': '',
   'address1': '270 Lafayette Street',
   'address2': 'Suite 505',
   'zip_code': '10012',
   'city': 'New York',
   'state_code': 'NY',
   'country_code': 'USA',
   'latitude': 40.7237306,
   'longitude': -73.9964312}],
 'milestones': [{'id': 5869,
   'description': "Wetpaint named in Lead411's Hottest Seattle Companies list",
   'stoned_year': 2010,
   'stoned_month': 6,
   'stoned_day': 8,
   'source_url': 'http://www.lead411.com/seattle-companies.html',
   'source_text': None,
   'source_description': 'LEAD411 LAUNCHES "HOTTEST SEATTLE COMPANIES" AWARDS',
   'stoneable_type': 'Company',
   'stoned_value': None,
   'stoned_value_type': None,
   'stoned_acquirer': None,
   'stoneable': {'name': 'Wetpaint', 'permalink': 'wetpaint'}},
  {'id': 8702,
   'description': 'Site-Builder Wetpaint Makes One For Itself, Using the Demand Media Playbook',
   'stoned_year': 2010,
   'stoned_month': 9,
   'stoned_day': 6,
   'source_url': 'http://mediamemo.allthingsd.com/20100906/site-builder-wetpaint-makes-one-for-itself-using-the-demand-media-playbook/',
   'source_text': None,
   'source_description': 'All Things D',
   'stoneable_type': 'Company',
   'stoned_value': None,
   'stoned_value_type': None,
   'stoned_acquirer': None,
   'stoneable': {'name': 'Wetpaint', 'permalink': 'wetpaint'}}],
 'video_embeds': [],
 'screenshots': [{'available_sizes': [[[150, 86],
     'assets/images/resized/0016/0929/160929v2-max-150x150.png'],
    [[250, 143], 'assets/images/resized/0016/0929/160929v2-max-250x250.png'],
    [[450, 258], 'assets/images/resized/0016/0929/160929v2-max-450x450.png']],
   'attribution': None}],
 'external_links': [{'external_url': 'http://www.geekwire.com/2011/rewind-ben-elowitz-wetpaint-ceo-building-type-media-company',
   'title': 'GeekWire interview: Rewind - Ben Elowitz, Wetpaint CEO, on building a new type of media company'},
  {'external_url': 'http://techcrunch.com/2012/06/17/search-and-social-how-two-will-soon-become-one/',
   'title': 'Guest post by CEO Ben Elowitz in TechCrunch'},
  {'external_url': 'http://allthingsd.com/20120516/what-to-expect-when-facebook-is-expecting-five-predictions-for-facebooks-first-public-year/',
   'title': 'Guest post by CEO Ben Elowitz in AllThingsD'},
  {'external_url': 'http://adage.com/article/digitalnext/facebook-biggest-player-advertising-s-540-billion-world/235708/',
   'title': 'Guest post by CEO Ben Elowitz in AdAge'},
  {'external_url': 'http://www.businessinsider.com/facebook-captures-14-percent-of-our-online-attention-but-only-4-percent-of-ad-spending-online-2012-6',
   'title': 'Guest post by CEO Ben Elowitz in Business Insider'},
  {'external_url': 'http://allfacebook.com/wetpaint-media-data_b75963',
   'title': 'AllFacebook coverage of Wetpaint'},
  {'external_url': 'http://adage.com/article/digital/celeb-site-wetpaint-shows-media-profit-facebook/237828/',
   'title': 'Profile of Wetpaint in Ad Age'},
  {'external_url': 'http://allthingsd.com/20121018/how-to-boost-your-facebook-traffic-tips-and-tricks-from-wetpaint/',
   'title': 'Interview with Wetpaint CEO Ben Elowitz in All Things D'},
  {'external_url': 'http://www.xconomy.com/seattle/2012/10/19/wetpaint-starts-licensing-its-facebook-based-media-distribution-tech/',
   'title': 'Profile of Wetpaint in Xconomy'}],
 'partners': []}

In [58]:
collection.find_one().keys()

dict_keys(['_id', 'name', 'permalink', 'crunchbase_url', 'homepage_url', 'blog_url', 'blog_feed_url', 'twitter_username', 'category_code', 'number_of_employees', 'founded_year', 'founded_month', 'founded_day', 'deadpooled_year', 'tag_list', 'alias_list', 'email_address', 'phone_number', 'description', 'created_at', 'updated_at', 'overview', 'image', 'products', 'relationships', 'competitions', 'providerships', 'total_money_raised', 'funding_rounds', 'investments', 'acquisition', 'acquisitions', 'offices', 'milestones', 'video_embeds', 'screenshots', 'external_links', 'partners'])

#### I convert the whole dataset into a DataFrame to see it better

In [145]:
df = pd.DataFrame(collection.find({}))

In [146]:
df

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,...,offices,milestones,video_embeds,screenshots,external_links,partners,deadpooled_month,deadpooled_day,deadpooled_url,ipo
0,52cdef7c4bab8bd675297d8a,Wetpaint,abc2,http://www.crunchbase.com/company/wetpaint,http://wetpaint-inc.com,http://digitalquarters.net/,http://digitalquarters.net/feed/,BachelrWetpaint,web,47.0,...,"[{'description': '', 'address1': '710 - 2nd Av...","[{'id': 5869, 'description': 'Wetpaint named i...",[],"[{'available_sizes': [[[150, 86], 'assets/imag...",[{'external_url': 'http://www.geekwire.com/201...,[],NaN,NaN,NaN,NaN
1,52cdef7c4bab8bd675297d8b,AdventNet,abc3,http://www.crunchbase.com/company/adventnet,http://adventnet.com,,,manageengine,enterprise,600.0,...,"[{'description': 'Headquarters', 'address1': '...",[],[],"[{'available_sizes': [[[150, 94], 'assets/imag...",[],[],NaN,NaN,NaN,NaN
2,52cdef7c4bab8bd675297d8c,Zoho,abc4,http://www.crunchbase.com/company/zoho,http://zoho.com,http://blogs.zoho.com/,http://blogs.zoho.com/feed,zoho,software,1600.0,...,"[{'description': 'Headquarters', 'address1': '...","[{'id': 388, 'description': 'Zoho Reaches 2 Mi...","[{'embed_code': '<object width=""430"" height=""2...",[],[{'external_url': 'http://www.online-tech-tips...,[],NaN,NaN,NaN,NaN
3,52cdef7c4bab8bd675297d8d,Digg,digg,http://www.crunchbase.com/company/digg,http://www.digg.com,http://blog.digg.com/,http://blog.digg.com/?feed=rss2,digg,news,60.0,...,"[{'description': None, 'address1': '135 Missis...","[{'id': 9588, 'description': 'Another Digg Exe...","[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[117, 150], 'assets/ima...",[{'external_url': 'http://www.sociableblog.com...,[],NaN,NaN,None,None
4,52cdef7c4bab8bd675297d8e,Facebook,facebook,http://www.crunchbase.com/company/facebook,http://facebook.com,http://blog.facebook.com,http://blog.facebook.com/atom.php,facebook,social,5299.0,...,"[{'description': 'Headquarters', 'address1': '...","[{'id': 108, 'description': 'Facebook adds com...",[],"[{'available_sizes': [[[150, 68], 'assets/imag...",[{'external_url': 'http://latimesblogs.latimes...,[],NaN,NaN,,"{'valuation_amount': 104000000000, 'valuation_..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18796,52cdef7f4bab8bd67529c6f6,Adhunk,adhunk,http://www.crunchbase.com/company/adhunk,http://www.adhunk.com,http://blog.adhunk.com,http://blog.adhunk.com/feed,,advertising,3.0,...,"[{'description': 'Indian Office', 'address1': ...",[],[],[],[{'external_url': 'http://www.hubpages.in/inte...,[],NaN,NaN,None,None
18797,52cdef7f4bab8bd67529c6f7,AfterLogic,afterlogic,http://www.crunchbase.com/company/afterlogic,http://www.afterlogic.com,,,afterlogic,software,NaN,...,"[{'description': 'Livingston', 'address1': 'P....",[],[],"[{'available_sizes': [[[150, 137], 'assets/ima...",[],[],NaN,NaN,None,None
18798,52cdef7f4bab8bd67529c6f8,goBookmaker,gobookmaker,http://www.crunchbase.com/company/gobookmaker,http://www.gobookmaker.com,http://blog.gobookmaker.com,,gobookmaker,web,NaN,...,[],[],[],"[{'available_sizes': [[[150, 80], 'assets/imag...",[],[],NaN,NaN,None,None
18799,52cdef7f4bab8bd67529c6f9,EnteGreat Solutions,entegreat-solutions,http://www.crunchbase.com/company/entegreat-so...,,,,,software,NaN,...,"[{'description': '', 'address1': '', 'address2...",[],[],[],[],[],NaN,NaN,None,None
18800,52cdef7f4bab8bd67529c6fa,EnteGreat,entegreat,http://www.crunchbase.com/company/entegreat,http://www.entegreat.com,,,,enterprise,NaN,...,"[{'description': '', 'address1': '1900 Interna...",[],[],[],[],[],NaN,NaN,None,None

In [67]:
print(collection['offices'])

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'IRONHACK'), 'companies.offices')

#### I filter the dataset to know the number of companies in Warsaw, their latitude and longitude and put into a list

In [122]:
list(collection.find({"offices.city": 'Warsaw'}, {"name":1, "offices.city":1, "_id":0, "offices.latitude":1, "offices.longitude":1}))

[{'name': 'Opera Software',
  'offices': [{'city': 'Oslo', 'latitude': 59.928267, 'longitude': 10.754932},
   {'city': 'Oslo', 'latitude': None, 'longitude': None},
   {'city': 'Linköping', 'latitude': None, 'longitude': None},
   {'city': 'Göteborg', 'latitude': None, 'longitude': None},
   {'city': 'Mountain View', 'latitude': None, 'longitude': None},
   {'city': 'San Diego', 'latitude': None, 'longitude': None},
   {'city': 'Tokyo', 'latitude': None, 'longitude': None},
   {'city': 'Beijing', 'latitude': None, 'longitude': None},
   {'city': 'Seoul', 'latitude': None, 'longitude': None},
   {'city': 'Chandigarh', 'latitude': None, 'longitude': None},
   {'city': 'Warsaw', 'latitude': None, 'longitude': None},
   {'city': 'Wrocław', 'latitude': None, 'longitude': None},
   {'city': 'Taipei', 'latitude': None, 'longitude': None}]},
 {'name': 'mySurveyLab',
  'offices': [{'city': 'Warsaw',
    'latitude': 51.919438,
    'longitude': 19.145136}]},
 {'name': 'Antal International',
  'offices': [{'city': 'Pune', 'latitude': 18.550173, 'longitude': 73.8089},
   {'city': 'London', 'latitude': 51.519158, 'longitude': -0.156212},
   {'city': 'Warsaw', 'latitude': 52.2255475, 'longitude': 21.0152227}]},
 {'name': 'Activeweb',
  'offices': [{'city': 'Warsaw',
    'latitude': 52.1332973,
    'longitude': 21.0709375}]},
 {'name': 'Clear2Pay',
  'offices': [{'city': 'Mechelen',
    'latitude': 51.0551923,
    'longitude': 4.4609658},
   {'city': 'Dunfermline', 'latitude': None, 'longitude': None},
   {'city': 'Warsaw', 'latitude': None, 'longitude': None},
   {'city': 'New South Wales', 'latitude': None, 'longitude': None},
   {'city': 'Singapore', 'latitude': None, 'longitude': None},
   {'city': 'Boston', 'latitude': None, 'longitude': None},
   {'city': 'Fremont', 'latitude': None, 'longitude': None}]},
 {'name': 'Selteco',
  'offices': [{'city': 'Schaumburg',
    'latitude': 42.062816,
    'longitude': -88.034017},
   {'city': 'Ajax Ontario', 'latitude': 43.8714181, 'longitude': -79.0342794},
   {'city': 'Warsaw', 'latitude': 52.1712424, 'longitude': 21.0062704}]}]

In [149]:
office = list(collection.find({"offices.city": 'Warsaw'}, {"name":1, "offices":1, "_id":0}))

In [155]:
milista = []
for oficina in office:
    a = oficina.get('offices')
    milista.append(a)

In [156]:
milista

[[{'description': 'Headquarters',
   'address1': 'Waldemar Thranes gate 98',
   'address2': '',
   'zip_code': 'NO-0175',
   'city': 'Oslo',
   'state_code': None,
   'country_code': 'NOR',
   'latitude': 59.928267,
   'longitude': 10.754932},
  {'description': 'Mailing Address',
   'address1': 'P.O. Box 2648 St Hanshaugen',
   'address2': '',
   'zip_code': 'NO-0131',
   'city': 'Oslo',
   'state_code': None,
   'country_code': 'DEU',
   'latitude': None,
   'longitude': None},
  {'description': 'Linköping',
   'address1': 'S:t Larsgatan 12',
   'address2': '',
   'zip_code': 'SE-582 24',
   'city': 'Linköping',
   'state_code': None,
   'country_code': 'SWE',
   'latitude': None,
   'longitude': None},
  {'description': 'Göteborg',
   'address1': 'Kyrkogatan 4',
   'address2': '',
   'zip_code': 'SE-411 15',
   'city': 'Göteborg',
   'state_code': None,
   'country_code': 'SWE',
   'latitude': None,
   'longitude': None},
  {'description': 'Mountain View',
   'address1': '700 E. El Camino Real',
   'address2': 'Suite 310',
   'zip_code': '94040',
   'city': 'Mountain View',
   'state_code': 'CA',
   'country_code': 'USA',
   'latitude': None,
   'longitude': None},
  {'description': 'San Diego',
   'address1': '4241 Jutland Dr.',
   'address2': 'Suite 105',
   'zip_code': '92117',
   'city': 'San Diego',
   'state_code': 'CA',
   'country_code': 'USA',
   'latitude': None,
   'longitude': None},
  {'description': 'Tokyo',
   'address1': 'ORIX Meguro bldg 10F',
   'address2': '1-24-12 Meguro, Meguro-ku',
   'zip_code': '153-0063',
   'city': 'Tokyo',
   'state_code': None,
   'country_code': 'JPN',
   'latitude': None,
   'longitude': None},
  {'description': 'China',
   'address1': 'Rm.0932/33/35, Tower C, Chaowai SOHO',
   'address2': '#6 Chaowai Street, Chao Yang District',
   'zip_code': '100020',
   'city': 'Beijing',
   'state_code': None,
   'country_code': 'CHN',
   'latitude': None,
   'longitude': None},
  {'description': 'Seoul',
   'address1': 'Suite 519, City Air Terminal, 159-6',
   'address2': 'Samsung-dong, Gangnam-gu',
   'zip_code': '',
   'city': 'Seoul',
   'state_code': None,
   'country_code': 'KOR',
   'latitude': None,
   'longitude': None},
  {'description': 'India',
   'address1': '3rd Floor, Tower F',
   'address2': 'DLF IT Park',
   'zip_code': '160101',
   'city': 'Chandigarh',
   'state_code': None,
   'country_code': 'IND',
   'latitude': None,
   'longitude': None},
  {'description': 'Warsaw',
   'address1': 'Al. Niepodległości 69',
   'address2': '',
   'zip_code': '02-626',
   'city': 'Warsaw',
   'state_code': None,
   'country_code': 'POL',
   'latitude': None,
   'longitude': None},
  {'description': 'Warsaw',
   'address1': 'ul. Szewska 8',
   'address2': '',
   'zip_code': '50-122',
   'city': 'Wrocław',
   'state_code': None,
   'country_code': 'POL',
   'latitude': None,
   'longitude': None},
  {'description': 'Taipei',
   'address1': '5F., No. 285, Sec. 4, Zhongxiao E. Rd.',
   'address2': 'Dan-an District',
   'zip_code': '106',
   'city': 'Taipei',
   'state_code': None,
   'country_code': 'TWN',
   'latitude': None,
   'longitude': None}],
 [{'description': '',
   'address1': 'KEN Av. 36 / 112B',
   'address2': '',
   'zip_code': '02-797',
   'city': 'Warsaw',
   'state_code': None,
   'country_code': 'POL',
   'latitude': 51.919438,
   'longitude': 19.145136}],
 [{'description': None,
   'address1': 'Baner Raod',
   'address2': '',
   'zip_code': '411037',
   'city': 'Pune',
   'state_code': None,
   'country_code': 'IND',
   'latitude': 18.550173,
   'longitude': 73.8089},
  {'description': 'Head Office',
   'address1': '64 Baker Street',
   'address2': '',
   'zip_code': 'W1U7GB',
   'city': 'London',
   'state_code': None,
   'country_code': 'GBR',
   'latitude': 51.519158,
   'longitude': -0.156212},
  {'description': 'Antal Poland',
   'address1': 'Managing Director Contact Details Artur Skiba Stratos Office Centre, ul. Ks. Skorupki 5',
   'address2': '',
   'zip_code': '00-546',
   'city': 'Warsaw',
   'state_code': None,
   'country_code': 'POL',
   'latitude': 52.2255475,
   'longitude': 21.0152227}],
 [{'description': 'Headquater',
   'address1': 'Bronikowskiego 3/2',
   'address2': '',
   'zip_code': '',
   'city': 'Warsaw',
   'state_code': None,
   'country_code': 'POL',
   'latitude': 52.1332973,
   'longitude': 21.0709375}],
 [{'description': 'Headquarters',
   'address1': 'SchaliÃ«nhoevedreef 20A',
   'address2': '(Mechelen Campus)',
   'zip_code': '2800',
   'city': 'Mechelen',
   'state_code': None,
   'country_code': 'BEL',
   'latitude': 51.0551923,
   'longitude': 4.4609658},
  {'description': '',
   'address1': 'Pitreavie Business Park',
   'address2': '',
   'zip_code': 'KY11 8UU',
   'city': 'Dunfermline',
   'state_code': None,
   'country_code': 'GBR',
   'latitude': None,
   'longitude': None},
  {'description': '',
   'address1': 'Ul. Dzielna 60',
   'address2': '',
   'zip_code': '01-029',
   'city': 'Warsaw',
   'state_code': None,
   'country_code': 'POL',
   'latitude': None,
   'longitude': None},
  {'description': '',
   'address1': 'Level 9, 132 Arthur Street',
   'address2': 'North Sydney',
   'zip_code': '2060',
   'city': 'New South Wales',
   'state_code': None,
   'country_code': 'AUS',
   'latitude': None,
   'longitude': None},
  {'description': '',
   'address1': '80 Raffles Place,  Level 35',
   'address2': 'UOB Plaza 1',
   'zip_code': '048624',
   'city': 'Singapore',
   'state_code': None,
   'country_code': 'SGP',
   'latitude': None,
   'longitude': None},
  {'description': '',
   'address1': '25 Braintree Hill Office Park',
   'address2': 'Suite 307',
   'zip_code': '02184',
   'city': 'Boston',
   'state_code': 'MA',
   'country_code': 'USA',
   'latitude': None,
   'longitude': None},
  {'description': '',
   'address1': '39300 Civic Center Dr',
   'address2': 'Suite 390',
   'zip_code': '94538',
   'city': 'Fremont',
   'state_code': 'CA',
   'country_code': 'USA',
   'latitude': None,
   'longitude': None}],
 [{'description': 'US',
   'address1': '1821 Walden Office Square',
   'address2': '',
   'zip_code': '60173',
   'city': 'Schaumburg',
   'state_code': 'IL',
   'country_code': 'USA',
   'latitude': 42.062816,
   'longitude': -88.034017},
  {'description': 'Canada',
   'address1': '4 Raine Drive',
   'address2': '',
   'zip_code': 'L1T 3L3',
   'city': 'Ajax Ontario',
   'state_code': None,
   'country_code': 'CAN',
   'latitude': 43.8714181,
   'longitude': -79.0342794},
  {'description': 'Europe',
   'address1': 'Rzymowskiego 53',
   'address2': '',
   'zip_code': '02697',
   'city': 'Warsaw',
   'state_code': None,
   'country_code': 'POL',
   'latitude': 52.1712424,
   'longitude': 21.0062704}]]

In [166]:
office1 = office[4].get('offices')

In [167]:
df = pd.DataFrame(office1)

In [168]:
df

,description,address1,address2,zip_code,city,state_code,country_code,latitude,longitude
0,Headquarters,SchaliÃ«nhoevedreef 20A,(Mechelen Campus),2800,Mechelen,None,BEL,51.055192,4.460966
1,,Pitreavie Business Park,,KY11 8UU,Dunfermline,None,GBR,NaN,NaN
2,,Ul. Dzielna 60,,01-029,Warsaw,None,POL,NaN,NaN
3,,"Level 9, 132 Arthur Street",North Sydney,2060,New South Wales,None,AUS,NaN,NaN
4,,"80 Raffles Place, Level 35",UOB Plaza 1,048624,Singapore,None,SGP,NaN,NaN
5,,25 Braintree Hill Office Park,Suite 307,02184,Boston,MA,USA,NaN,NaN
6,,39300 Civic Center Dr,Suite 390,94538,Fremont,CA,USA,NaN,NaN

In [169]:
collection['offices']

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'IRONHACK'), 'companies.offices')

#### I create a DataFrame only with the keys = 'Offices'

In [170]:
b = collection.find({"offices.city": 'Warsaw'}, {"name":1, "offices.city":1, "_id":0, "offices.latitude":1, "offices.longitude":1})

In [172]:
pd.DataFrame(b)

                  name                                            offices
0       Opera Software  [{'city': 'Oslo', 'latitude': 59.928267, 'long...
1          mySurveyLab  [{'city': 'Warsaw', 'latitude': 51.919438, 'lo...
2  Antal International  [{'city': 'Pune', 'latitude': 18.550173, 'long...
3            Activeweb  [{'city': 'Warsaw', 'latitude': 52.1332973, 'l...
4            Clear2Pay  [{'city': 'Mechelen', 'latitude': 51.0551923, ...
5              Selteco  [{'city': 'Schaumburg', 'latitude': 42.062816,...

In [177]:
city = ["city"]
latitud = ["latitude"]
longitud = ["longitude"]

In [178]:
def getFromDict(diccionario,mapa):
    return reduce(operator.getitem,mapa,diccionario)

In [180]:
lovemosclaro = []
for element in milista:
    for diccionario in element:
        paralista = {}
        paralista["city"] = getFromDict(diccionario,city)
        paralista["latitude"] = getFromDict(diccionario,latitud)
        paralista["longitude"] = getFromDict(diccionario,longitud)
        lovemosclaro.append(paralista)

In [183]:
dataframefinal = pd.DataFrame(lovemosclaro)
dataframefinal.head()

            city   latitude  longitude
0           Oslo  59.928267  10.754932
1           Oslo        NaN        NaN
2      Linköping        NaN        NaN
3       Göteborg        NaN        NaN
4  Mountain View        NaN        NaN

In [185]:
dataframefinal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   city       28 non-null     object
 1   latitude   10 non-null     float64
 2   longitude  10 non-null     float64
dtypes: float64(2), object(1)
memory usage: 800.0+ bytes

In [233]:
dataframefinal[['city', 'latitude', 'longitude']]

               city   latitude  longitude
0              Oslo  59.928267  10.754932
1              Oslo        NaN        NaN
2         Linköping        NaN        NaN
3          Göteborg        NaN        NaN
4     Mountain View        NaN        NaN
5         San Diego        NaN        NaN
6             Tokyo        NaN        NaN
7           Beijing        NaN        NaN
8             Seoul        NaN        NaN
9        Chandigarh        NaN        NaN
10           Warsaw        NaN        NaN
11          Wrocław        NaN        NaN
12           Taipei        NaN        NaN
13           Warsaw  51.919438  19.145136
14             Pune  18.550173  73.808900
15           London  51.519158  -0.156212
16           Warsaw  52.225547  21.015223
17           Warsaw  52.133297  21.070937
18         Mechelen  51.055192   4.460966
19      Dunfermline        NaN        NaN
20           Warsaw        NaN        NaN
21  New South Wales        NaN        NaN
22        Singapore        NaN        NaN
23           Boston        NaN        NaN
24          Fremont        NaN        NaN
25       Schaumburg  42.062816 -88.034017
26     Ajax Ontario  43.871418 -79.034279
27           Warsaw  52.171242  21.006270

#### After seeing the whole cities that appear in the list, I filter it so see only in Warsaw

In [234]:
ciudades = dataframefinal[dataframefinal.city.isin(['Warsaw'])]

In [235]:
ciudades

      city   latitude  longitude                   geometry
10  Warsaw        NaN        NaN            POINT (nan nan)
13  Warsaw  51.919438  19.145136  POINT (19.14514 51.91944)
16  Warsaw  52.225547  21.015223  POINT (21.01522 52.22555)
17  Warsaw  52.133297  21.070937  POINT (21.07094 52.13330)
20  Warsaw        NaN        NaN            POINT (nan nan)
27  Warsaw  52.171242  21.006270  POINT (21.00627 52.17124)